
@{
    ViewBag.Title = "main html";
}

<h2>@Session["Login"]</h2>
<input type="button" class="btn btn-danger" value="Выход" onclick="location.href = '@Url.Action("Out","Auth")'"/>
<!--<script type="text/javascript">
    $(document).ready(function() {
        $("#out").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Out", "Auth")',
                success: function (data) {
                    location.href = data;
                }
            });
        });
    })
</script>-->
